<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Plant</title>
</head>
<body>
    <h2>Add Plant</h2>
    <form action="http://127.0.0.1:5000/set_plant" method="post">
        <label for="name">Plant Latin Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="data">Plant Data:</label>
        <input type="text" id="data" name="data" required>

        <button type="submit">Add Plant</button>
    </form>
</body>
</html>
